.modules {
	background-color: #ffffff;
	height: 8.125rem;
}
.module{
	width: 33.3%;
	height: 8.125rem;
	float: left;
	background-color: #ffffff;
	
	border-style:solid;
	border-width:0px 0px 0px 1px;
	border-color:#f6f3ee;
}
.img{
	margin: auto;
	width:55px;
	height: 80px;
	
}
.img img{
	width:55px;
	height: 55px;
	margin-top:18px;
	
}
.mui-table-view{
	margin-top: 15px;
}
.text{
	text-align: center;
	margin: auto;
	font-size: 15px;
}
.text p{
	font-size: 12px;
}
.mui-bar-nav{
	background-color: #0e50dd;
}
.header{
	height: 30px;
	width: 50px;
	margin-top: 5px;;
	font-size: 1.125rem;
	line-height: 30px;
	color: #FFFFFF;
	float: left;
}
.bar-tab{
	bottom: 0;
	display: table;
	width: 100%;
	height: 50px;
	padding: 0;
	border-top: 0;
	border-bottom: 0;
}
.bar{
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	background-color: #f7f7f7;
	box-shadow: 0 0 1px rgba(0,0,0,85);
}
.con{
	height: 25px;
	margin-top: 5px;
}
.con img{
	width: 25px;
	height: 25px;
}
.iconfont{
	width: 20%;
	float: left;
	
}
.label{
	
	font-size: 11px;
}
.iconfont span{
	text-align: center;
	display:block;
}
.right{
	right: 0px;
	float: right;
	margin-top: 5px;
}
.right img{
	width: 23px;
	height: 23px;
}
a{
	color: #7f7f7f;
}